* {
	font-family: Helvetica, sans-serif;
}

.infobar {
	position: absolute;
	top: 10px;
	right: 90px;
}

ul {
	position: absolute;
	top: -10px;
	list-style: none;
	margin-left: 20px;
}

li {
	float: left;
	margin-right: 20px;
	padding: 5px;
	cursor: pointer;
}

li.selected {
	color: #fff;
	background: #333;
}

.browser-window {
	position: absolute;
	width: 1124px;
	height: 807px;
	background-image: url('../img/empty-window.png');
	background-size: 100%;
}

.content {
	position: absolute;
	width: 1010px;
	height: 616px;
	left: 57px;
	top: 112px;
	overflow: hidden;
}

.page1 {
	position: absolute;
	width: 1010px;
	height: 616px;
	background-size: 100%;
	transition: all .3s ease;
	transform: translate(0,0);
}

.page1 { background-image: url('../img/nyt.png') }

.bubble-button {
	position: absolute;
}

.bubble-button.info {
	width: 40px;
	height: 20px;
	left: 96px;
	top: 83px;
}

.bubble-button.downloads {
	width: 31px;
	height: 27px;
	left: 873px;
	top: 79px;
}

.bubble-button.menu {
	width: 31px;
	height: 27px;
	left: 996px;
	top: 79px;
}

.bubble {
	position: absolute;
	background-size: 100%;
	transition: all .25s ease;
}

.bubble.info {
	background-image: url('../img/bubble.png');
	width: 298px;
	height: 140px;
	left: -28px;
	top: 9px;
	transform-origin: 40px 7px;
}

.bubble.downloads {
	background-image: url('../img/downloads.png');
	width: 463px;
	height: 321px;
	left: -407px;
	top: 13px;
	transform-origin: 423px 7px;
}

.bubble.menu {
	background-image: url('../img/menu.png');
	width: 281px;
	height: 381px;
	left: -226px;
	top: 13px;
	transform-origin: 242px 7px;
}

.type-1 .bubble.collapsed {
	transform: scale( .1 );
	opacity: 0;
}

.type-2 .bubble.info.collapsed {
	transform: scale( .1 ) rotate(20deg);
	opacity: 0;
}

.type-3 .bubble.info.collapsed {
	transform: scale( .1 ) skew(30deg, 20deg);
	opacity: 0;
}

.type-2 .bubble.downloads.collapsed {
	transform: scale( .1 ) rotate(-20deg);
	opacity: 0;
}

.type-3 .bubble.downloads.collapsed {
	transform: scale( .1 ) skew(-30deg, -20deg);
	opacity: 0;
}

.type-2 .bubble.menu.collapsed {
	transform: scale( .1 ) rotate(-20deg);
	opacity: 0;
}

.type-3 .bubble.menu {
	transform: scale( .1 ) skew(-30deg, -20deg);
	opacity: 0;
}

.type-4 .bubble {
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(.6, 1.2, .65, 1.1), ease;
}
.type-4 .bubble.opened {
	transition-timing-function: ease;
}
.type-4 .bubble.collapsed {
	/*This needs to be dynamically changed. Before opening it should only scale(), when closing it should also skew()*/
	transform: scale( .1 );
	opacity: 0;
}